# Custom Data Creation

## Importing the libraries

In [1]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
df = pd.read_excel("1_updated_data/1_updated_data.xlsx")

In [5]:
print(df.head())

                Current_Role  Zip Code  Employee_ID  Employee Annual Salary$  \
0   Senior Software Engineer     94103           57                   130800
1   Associate Data Scientist     94111           58                    74250
2  Associate Product Manager     10009           59                   125850
3           Business Analyst     60605           60                    84750
4    Chief Operating Officer      2101           61                   300000

   Monthly Medical contribution$  Monthly Dental Contribution$  \
0                            130                            35
1                            105                            30
2                            130                            35
3                            105                            30
4                            230                            55

   Monthly Vision Contribution$  Bonus $  Years_Of_Service    Department  \
0                            19    13865               5.2   Engineering
1                            17     4344               1.7  Data Science
2                            19    15920               1.3       Product
3                            17     5890               3.9       Finance
4                            27    90000              15.2     Executive

       Gender  Employee HR rate  # of Hours per week  \
0        Male                60                   40
1  Non-Binary               117                   40
2  Non-Binary               147                   40
3      Female               153                   40
4      Female                79                   40

   Years_Since_Last_Promotion  age  left
0                    2.800821   34     0
1                    1.563313   29     0
2                    1.245722   31     0
3                    2.297057   31     0
4                    5.782341   41     1

## Custom Time Series Dataset