# Arima Forecasting

## Importing the libraries

In [23]:
import os
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [24]:
df = pd.read_excel("ts_data/ts_data.xlsx")

In [25]:
print(df.head())

   Employee_ID year_month  Annual_load_cost_per_month
0           57    2000-07                      9329.0
1           57    2000-08                      9329.0
2           57    2000-09                      9329.0
3           57    2000-10                      9329.0
4           57    2000-11                      9329.0

In [26]:
print(df.columns)

Index(['Employee_ID', 'year_month', 'Annual_load_cost_per_month'], dtype='object')

In [27]:
print(df.dtypes)

Employee_ID                     int64
year_month                     object
Annual_load_cost_per_month    float64
dtype: object

In [28]:
df['year_month'] = pd.to_datetime(df['year_month'], format='%Y-%m')

In [29]:
print(df.dtypes)

Employee_ID                            int64
year_month                    datetime64[ns]
Annual_load_cost_per_month           float64
dtype: object

## 100 Different Data Frame For Individual User

In [30]:
unique_employees = df['Employee_ID'].unique()
print(unique_employees)

[ 57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110
 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128
 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 156]

In [31]:
employee_dfs = {}

# Step 4: Loop through each employee ID
for emp_id in unique_employees:
    # Step 5: Filter data for just this employee
    emp_df = df[df['Employee_ID'] == emp_id]

    # Step 6: Save it into the dictionary
    employee_dfs[emp_id] = emp_df

In [32]:
individual_emp = employee_dfs[58]
print(individual_emp)

     Employee_ID year_month  Annual_load_cost_per_month
300           58 2000-07-01                     5427.00
301           58 2000-08-01                     5427.00
302           58 2000-09-01                     5427.00
303           58 2000-10-01                     5427.00
304           58 2000-11-01                     5427.00
..           ...        ...                         ...
595           58 2025-02-01                     7743.84
596           58 2025-03-01                     7743.84
597           58 2025-04-01                     7743.84
598           58 2025-05-01                     7743.84
599           58 2025-06-01                     7743.84

[300 rows x 3 columns]

## Forecasting with ARIMA

In [33]:
from statsmodels.tsa.arima.model import ARIMA

def forecast_employee(emp_df, steps=12):
    # Make sure data is sorted by time
    emp_df = emp_df.sort_values(by='year_month')

    # Use only the cost column for forecasting
    series = emp_df['Annual_load_cost_per_month'].values

    # Fit ARIMA model
    model = ARIMA(series, order=(1, 1, 1))  # (p,d,q) can be tuned
    model_fit = model.fit()

    # Forecast future values
    forecast = model_fit.forecast(steps=steps)

    return forecast

In [34]:
employee_forecasts = {}

for emp_id, emp_df in employee_dfs.items():
    forecast = forecast_employee(emp_df)
    employee_forecasts[emp_id] = forecast

In [35]:
print(employee_forecasts[58])

[7743.84 7743.84 7743.84 7743.84 7743.84 7743.84 7743.84 7743.84 7743.84
 7743.84 7743.84 7743.84]

## Plot Prediction of Single Employee

## Save the Predictions of Individual Employees in Separate Table